---

import { Image } from 'astro:assets';
import logo from '../assets/logo.png';

---

<div class="navbar drop-shadow-md">
    <div class="navbar-start">
        <Image loading="eager" 

					alt="Daphne with dog."
					width="160"
					height="100"
					src={logo}
					/>
    </div>


    <div class="navbar-center">
      <a href="/" class="btn text-lg md:text-5xl">We Do Everything Plumbing!</a>
    </div>


    <div class="navbar-end">
        <div><h4>Call (415)-298-5181</h3></div>
        <div class="dropdown dropdown-left">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h7" />
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-auto p-2 shadow">
            <li><a href="/">Homepage</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
    </div>
  </div>